$bg-color: blue;

body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}
.question{
    font-size: 30px;
    margin-bottom: 10px;
}
.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}
.answers label{
    display: block;
    margin-bottom: 10px;
}


.quizContainer {
    position: relative;
    height: 20rem;
    margin-top: 40px;
    .slide {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.5s;
    }
    .active-slide {
        opacity: 1;
        z-index: 2;
    }
}